/*网站基本定义*/
div,form,img,ul,ol,li,dl,dt,dd,p,tr,td,body,strong,span,pre,input{margin:0; padding:0; border:0; background-repeat:no-repeat; -webkit-appearance:none; border-radius:none;}
h1,h2,h3,h4,h5,h6,p{ margin:0; padding:0; font-weight:normal;}
body{ font-family: "宋体"; font-size:14px;margin:0px;padding:0px;color:#666;line-height:24px;height:auto;clear:both; -webkit-appearance:none; }
img{border:0px;}
ul,li{ list-style:none;}
em,i{ font-style:normal;}
a{ text-decoration:none; color:#666; outline:none; cursor:pointer;}
a:hover{color:#231b18;}
input,textarea{outline:none;font-family:"Microsoft yahei";}
a,area{blr:expression(this.onFocus=this.blur())}

/*网站基本定义*/
.clearfix:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix{*zoom:1;}
.web{ width:1170px; margin:0 auto;}
